// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #4F4FD3 !default;
$gray-500: #3C3CAA !default;
$gray-600: #28287C !default;
$gray-700: #212168 !default;
$gray-800: #1D1A59 !default;
$gray-900: #1A1449 !default;
$black: #1A1449 !default;

$primary: #52BBB5 !default;
